
body {
    background: url(../img/background.png) no-repeat center / cover fixed;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'VT323', monospace;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
}

.cartao {
    border: 3px solid rgb(216, 216, 216);
    background: rgb(158, 158, 158);
    width: 370px;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.foto-perfil {
    width: 105px;
    border-radius: 50%;
    border: 2px solid rgb(216, 216, 216);
    margin-top: 10px;
}

.nome {
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.cartao .minhas-informacoes .cargo {
    font-size: 20px;
    color: rgb(216, 216, 216);
}

.cartao .conteudo {
    margin-top: 15px;
}

.cartao .abas {
    display: flex;
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.cartao .abas img {
    width: 30px;
}

.cartao .abas .aba.selecionado {
    background-color: rgb(108, 108, 108);
}

.cartao .conteudo .informacao {
    background-color: rgb(108, 108, 108);
    min-height: 260px;
    padding: 15px;
    display: none;
}

.cartao .conteudo .informacao.selecionado {
    display: block;
}

.cartao .abas .aba:hover {
    background-color: rgb(198, 198, 198);
}

.cartao .informacoes-aba h3 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.cartao .informacoes-aba p {
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding: 0 12px 0 0;
}

.cartao .informacoes-aba span {
    color: rgb(196, 255, 255);
}

.cartao .conteudo .informacoes-aba .redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    max-height: 300px;
    overflow-y: auto;
}

.cartao .conteudo .informacoes-aba .redes-sociais .github {
    width: 300px;
    height: 90px;
    background-color: rgb(88, 88, 88);
    display: block;
    text-align: center;
    padding: 10px;
    transition: background-color 0.25 ease-in-out;

}

.cartao .conteudo .informacoes-aba .redes-sociais .instagram {
    width: 300px;
    height: 90px;
    background-color: rgb(88, 88, 88);
    display: block;
    text-align: center;
    padding: 10px;
    transition: background-color 0.25 ease-in-out;

}

.cartao .conteudo .redes-sociais img {
    width: 45px;
}

.cartao .conteudo .redes-sociais p {
    font-size: 24px;
    margin-left: 10px;
}

.cartao .conteudo .redes-sociais .github:hover{
    background-color: rgb(118, 118, 118);
}

.cartao .conteudo .redes-sociais .instagram:hover{
    background-color: rgb(118, 118, 118);
}

